



html, body{
   padding: 0;
   margin: 0;
   font-family: 'Lato', sans-serif;
   position: relative;
   background-color: #4ABDAC;
}

h1 {
	font-size: 5rem;
	color: white;
	margin: auto;
}


h2 {
	font-size: 5rem;
	color: black;
	margin: 0 auto;
}

i {
	color: black;
}

.fa {
	cursor: pointer;	
}
span {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none !important;
}

.horizontal-line {
	height: 0.75rem;
	background: white;
	width: 150%;
	margin: center;

}
/* Navbar*/

#container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	background: #FFFAFA;
	width: 100%;
	padding: 1rem;
	z-index: 1;
}

#link-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
}

.nav-link {
	margin-right: 1rem;
	cursor: pointer;
	font-size: 2em;
}


.navbar-text{
	display: none;

}

/*Welcome section*/

.jumbotron{
	height: 100vh;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 1)
        ),
         url("codePic.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto;
	
}



#welcome-box{
	widows: 100%;
}


#greeting{
	font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#subheader{
	font-size: 1.2em;
	color: white;
	width: 110%;
	
}

.typewrite{
	text-decoration: none;
	color: white;
}

.arrow-bio{
	margin-top: 1em;
	color: white;
	cursor: pointer;
}

.fa-chevron-down: hover {
	color: green;
}

#cursor{
	color: black;
}

/*Bio*/

#bio{
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-color: #4ABDAC;
flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	display: flex;
	
}

#bio-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: .5em;
	padding-bottom: .5em;
}

#bio-intro{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	margin: 2% 2% 2% 2%;
}

.text{
	width: 80%;
	flex-wrap: wrap;
	font-size: 1.5em;
	background: #FFFAFA;
	padding: 2% 2% 2% 2%;
}

#talk-pic{
	height: 15%;
	width: 15%;
}

#trinity-pic{
	height: 15%;
	width: 15%;
}

.arrow-portfolio{
	margin-top: 1em;
	color: white;
	cursor: pointer;
}

/*Projects */

#projects{
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-color:#FFFAFA;
}


#projects_container{
	padding-top: 5rem;
	padding-bottom: 5rem;

}

figure{
  display: block; 
  position: relative; 
  overflow: hidden; 
  width: 100%;
}

figure img {
	width: 100%;
	height:100%;
	object-fit: contain;
}

figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 
  width: 100%;
  opacity: 0;
  bottom: 0; 
  top: -30%;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

figure:hover figcaption {
  opacity: 1;
  top: 0;
}

.fig-header{
	font-size: 1em;
	font-weight: bold;
}

.fig-text{
	font-size: 0.8em;
}

.arrow-portfolio{
	margin-top: 1em;
	color: white;
	cursor: pointer;
	margin: 0 auto;
}

/* Contact */

#contact{
	padding-top: 15rem;
    padding-bottom: 15rem;
	background-color: #4ABDAC;
	height: 100vh;
	
	}
 #contact-header{
	color: white;
}
.contact-container{
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin: 0 auto;
}


.sm-button{
	height: 7rem;
	width: 7rem;
	background-color: white;
	transition: background-color 0.5s ease;
	margin-top: 2em;
	 }

.big-icon{
	font-size: 33%;
}

}
 .navbar-text {
	display: none;
	}
 

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.contact-icon {
	-webkit-transform: translateY(10px);
  transform: translateY(10px);
}


@include media-breakpoint-up(sm) {
  #greeting {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@include media-breakpoint-up(md) {
  #greeting {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }


.fig-header{
	font-size: 1.5em;
	font-weight: bold;
}

.fig-text{
	font-size: 1em;
}

}